<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>캔버스</title>
</head>
<body>
<!-- 그림을 그릴 수 있는 캔버스 영역 설정 -->
<canvas id="canvas" width="400" height="400"></canvas>

</body>
<script>
var canvas= document.getElementById("canvas")
//캔버스에 그릭 위한 객체 생성
var context = canvas.getContext("2d")
//그리기 코드 작성
context.fillRect(0,0,150,100)
context.fillText("안녕하세요 캔버스 입니다.",170,110)

//이미지 객체 만들기
var image = new Image()
//이미지 파일의 경로 설정
image.src = "../resource/img.jpg"
//이미지 파일이 전부 로드 되면 수행
image.addEventListener("load",function(e){
	//image를 canvas의 0,0 부터 원본크기대로 출력
	//context.drawImage(image,0,0,)
	
	//image를 canvas의 0,0 부터 100, 1000 크기로 확대나 축소해서 출력
	//context.drawImage(image,0,0,100,100)
	
	//0,0부터 100,100크기만 잘라서
	//0,0부터 200,200의 크기로 출력
	//context.drawImage(image,0,0,100,100,0,0,200,200)3
	
	context.drawImage(image,0,0,133,133,100,100,266,266)
	//타이머로 생성
	setInterval(func,2000)
})
	//타이머로 동작할 함수
	var idx = 0
	var func =function(){
	idx = idx +1 
	idx = idx % 9
	context.drawImage(image, 
			133 * parseInt(idx/3),133 *parseInt(idx%3),
			133,133,
			100,100,266,266)
}


</script>
</html>